<nav>
  <ul id="main-nav"<%- site.section ? ' class="active"' : '' %>>
    <li<%- site.section === 'bio' ? ' class="active"' : '' %>><a href="/bio">Bio</a></li>
    <li<%- site.section === 'music' ? ' class="active"' : '' %>><a href="/music">Music</a></li>
    <li<%- site.section === 'film' ? ' class="active"' : '' %>><a href="/film">Film</a></li>
    <li<%- site.section === 'writing' ? ' class="active"' : '' %>><a href="/writing">Writing</a></li>
    <li<%- site.section === 'social' ? ' class="active"' : '' %>><a href="/social">Social</a></li>
    <li<%- site.section === 'other-endeavors' ? ' class="active"' : '' %>><a href="/other-endeavors">Other Endeavors</a></li>
    <li<%- site.section === 'friends' ? ' class="active"' : '' %>><a href="/friends">Friends</a></li>
  </ul>

  <% if (site.section) { %>
    <%- include('/partials/subnav/' + site.section + '.ejs'); %>
  <% } %>
</nav>
