<nav>
  <ul id="main-nav"<%- site.section ? ' class="active"' : '' %>>
    <li<%- site.section === 'bio' ? ' class="active"' : '' %>><a href="/bio">learned</a></li>
    <li<%- site.section === 'blog' ? ' class="active"' : '' %>><a href="/blog">Blog</a></li>
    <li<%- site.section === 'web' ? ' class="active"' : '' %>><a href="/web">Web</a></li>
    <li<%- site.section === 'social' ? ' class="active"' : '' %>><a href="/social">Social</a></li>
    <li<%- site.section === 'other-endeavors' ? ' class="active"' : '' %>><a href="/other-endeavors">Other Endeavors</a></li>
    <li<%- site.section === 'friends' ? ' class="active"' : '' %>><a href="/friends">Friends</a></li>
  </ul>

  <% if (site.section) { %>
    <%- include('/partials/subnav/' + site.section + '.ejs'); %>
  <% } %>
</nav>
